#service {
    width: 100%;
    padding: 70px 0;
    background-color: #fdfbfb;
  }
  
  .service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  
  .single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .single-service img {
    width: 100%;
    height: 400px;
    border-radius: 7px;
    object-fit: cover;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--btn-color));
    opacity: 0;
    transition: 1s;
  }
  
  .single-service:hover .overlay {
    opacity: 1;
  }
  
  .service-desc {
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
  
  hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 50%;
  }
  
  .service-desc p {
    font-size: 14px;
  }
  
  .single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
  }
  
  .single-service.left {
    transform: translateX(-100%);
  }
  
  .single-service.right {
    transform: translateX(100%);
  }
  
  .single-service.visible {
    opacity: 1;
    transform: translateX(0);
  }

  /* responsive */
  @media only screen and (max-width: 700px){
    .single-service{
        flex-basis: 100%;
        margin-bottom:30px;
    }
    .service-desc p {
        font-size:12px;
    }
    .single-service:hover .service-desc{
        bottom:25% !important;
    }
}