#features{
    width:100%;
    padding:70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
    padding-top:70px;
}
.title-text p{
    margin:auto;
    font-size: 20px;
    color: var(--btn-color);
    font-weight: bold;
    position: relative;
    display: inline-block;

}
.title-text p::after{
    content: " ";
    width:50px;
    height: 35px;
    background-color:linear-gradient(var(--back-color),#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index:-1;
    transform:rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
/* features */
/* styles.css */

.features-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.features {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.features-img {
  flex-basis: 50%;
  margin: auto;
}

.features-img img {
  width: 70%;
  border-radius: 10%;
}

.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--btn-color);
}

.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.features-icon .custom-icon-class {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 8%;
  padding: 5px;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

.features-text {
  padding: 0 12px;
  text-align: initial;
}

.feature-item {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.feature-item.visible {
  opacity: 1;
  transform: translateX(0);
}

  
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* responsive */
  @media only screen and (max-width: 770px){
    .title-text h1 {
        font-size:35px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis:100%;
    }
    .features-img img{
        width:100%;
    }
}