#footer{
    padding:100px 0 20px;
    background:#efefef;
    position: relative;
}
.footer-row{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding:10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin:10px 0;

}
.footer-row p{
    line-height: 35px;
}

.footer-left .fa,.footer-right .fa{
   font-size:20px;
   color: var(--btn-color);
   margin: 0 10px;
}

 .footer-img{
  max-width:350px;
  opacity:0.3;
  position:absolute;
  left:50%;
  top:35%;
  transform: translate(-50%,-50%) ;
  border-radius: 50%;
 }
.social-link{
    text-align: center;

}
.social-link .fa{
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 40px;
    border:1px solid var(--btn-color);
    margin:40px 8px 0;
    color:var(--btn-color);
    cursor: pointer;
    transition:.05s;
}
.social-link .fa:hover{
    background:var(--btn-color);
    color:#fff;
    transform: translateY(-7px);
}
.social-link p{
    font-size:12px;
    margin-top: 20px;
}
 
/* responsive */
@media only screen and (max-width: 700px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;

    }
    .footer-left{
        padding: 0;
    }
    .footer-img{
        top:25%;
    }
  }
 
 