#testimonials {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px var(--back-color);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    height: 80px;
    border-radius: 5%;
    margin-right: 10px;
}

.user-info .fa {
    margin-left: 10px;
    color: var(--btn-color);
    font-size: 20px;
}

.user-info small {
    color: #0096;
}

.testimonial-col:hover {
    transform: translateY(-10px);
}

/* responsive */
@media only screen and (max-width: 700px){
    .testimonial-col{
        flex-basis: 100%;
    }
  }